*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	width: 100%;
	font-family: sans-serif;
	background: #222;
	position: relative;
}
.header{
	width: 100%;
	padding:  10px 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header img,.navlinks img{
	width: 20px;
	cursor: pointer;
	display: none;
}
.navlinks{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left-nav{
	display: flex;
	align-items: center;
	position: relative;
}
.left-nav ul{
	display: inline-flex;
	list-style: none;
	margin-left: 50px;
}
.left-nav ul li {
	margin: 0 12px;
}
.left-nav ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	padding: 8px;
}
.left-nav ul li a:hover{
	background: dimgray;
	border-radius: 5px;
}
.right-nav .nav-btn{
	padding: 15px;
	color: #fff;
	border-radius: 5px;
	margin: 0 5px;
	border: none;
	outline: none;
}
.right-nav .join{
	background-color: dimgray;
}
.right-nav .Create{
	background: crimson;
}
.home-content{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home-content h1{
	font-size: 65px;
	letter-spacing: 3px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin: 0px 10px 0px;
	text-align: center;
}
.home-content p{
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin: 15px 0px 5px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
}
.serach-btn{
	width: 500px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto;
	border-radius: 15px;
	border: 3px solid crimson;
}
.serach-btn .Search-input{
	outline: none;
	border-radius: 15px;
	color: #ccc;
	border: none;
	padding-left: 15px;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
}
.serach-btn .search{
	padding: 15px 20px;
	margin: 4px 4px;
	border-radius: 8px;
	background: crimson;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	border: none;
	outline: none;
}
.Categories{
	display: none;
}
@media(max-width: 1000px){
 #navLinks{
 	width: 100%;
 	position: fixed;
 	top: 0;
 	right: -100%;
 	background: #222;
 	height: 100vh;
 	display: flex;
 	justify-content: flex-start;
 	align-items: flex-start;
 	flex-direction: column;
 	padding: 40px 2%;
 	transition: 1s;
 }
 .header img,.navlinks img{
 	display: block;
 }
 .navlinks img{
 	position: absolute;
 	top: 20px;
 	right: 20px;
 }
 .left-nav ul{
 	display: flex;
 	align-items: flex-start;
 	justify-content: flex-start;
 	flex-direction: column;
 	width: 100%;
 	
 }
 .left-nav ul li{
 	margin: 10px 0px;
 	width: 100%;
 }
 .left-nav ul .Categories{
 	display: block;
 }
 .right-nav{
    margin: 40px 0;
    width: 100%;
 }
 .br{
 	width: 100%;
 	height: 2px;
 	background: crimson;
 	border-radius: 5px;
 	margin: 20px 0;
 }
}
@media(max-width: 780px){
.home-content h1{
	font-size: 45px;
    margin: 20px 0;
}
.serach-btn{
	width: 90%;
	margin: 20px auto;
}
}
@media(max-width: 550px){
.home-content h1{
	font-size: 34px;
	margin: 20px 0;
}
}
.Project-doc{
	width: 100%;
	position: relative;
	margin-top: -180px; 
	background: #000;
	z-index: -100;
}
.project-row{
	display: flex;
	align-items: center;
	overflow-x: hidden;
	
}
.project-row .project-col{
    border: none;
    border-radius: 10px;
    flex-basis: 250px;
    height: 250px;
    box-shadow: 4px 4px 4px #222;
    background: navy;
    margin: 10px;
 }
 .btn-all{
 	width: 100%;
 	box-sizing: border-box;
 }
.btn-1{
	width: 100%;
   margin: 20px auto;
   padding: 10px 25px;
   text-decoration: none;
   font-size: 22px;
   border-radius: 5px;
   background:crimson;
   color: #fff; 
  
 }
.rate-me{
	width: 100%;
	height: 60vh;
	margin: 80px auto;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rate-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rate-img{
	width: 20px;
}
.rate-box{
	padding: 15px 15px;
	margin: 0px 20px;
	text-align: center;
	color: #fff;
}
.rate-box h1{
	font-weight: 500;
	font-size: 35px;
	color: #ccc;
	font-family: sans-serif;
	margin: 20px 0px;
}
.rate-box p{
	font-size: 14px;
	line-height: 30px;
	color: #ccc;
	font-family: sans-serif;
}
@media(max-width: 630px){
.rate-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
}
.my-uses{
	margin: 25px 10px;
	width: 100%;
}
.user-row-1,.user-row-2{
	display: flex;
	justify-content: space-between;
}
.user-row-1 .user-col,.user-row-2 .user-col{
	flex-basis: 50%;
	border: 1px solid #ccc;
}





























